* {
    box-sizing: border-box;
  }

body {
    
    background-image: url("src/assets/parchment.jpeg");
}

img {
    max-width: 100%;
}

header {
    /* border-radius: 30px 30px 30px 30px; */
    /* position: absolute;
    top: 80px; */
    
   
    
    background-position: center;
    /* background-color: rgb(77, 11, 121); */
    /* margin:0;
    width: 100vw;
    min-height: 100vh; */
    /* background: linear-gradient(#a40606, #886d51); */
  }