<body>
  <!-- <div class="quote"> -->
  <div class="quoteBox">
    <h1>
      "{{ this.QuotesService.quotes }}" <br /><br />
      ~{{ this.QuotesService.author }}
    </h1>
    <!-- <p class="quoteBox">~ {{ this.QuotesService.author }}</p> -->
  </div>
  <!-- </div> -->

  <!-- <p>{{ readername }}</p> -->
  <div class="nameBox">
    <input
      type="text"
      [(ngModel)]="readername"
      placeholder="type your name to enter the Pocket Library"
      title="type your name to enter the Pocket Library"
    />
  </div>
  <button
    type="button"
    routerLink="/search"
    class="read"
    (click)="setreadername()"
  >
    Let's Read!
  </button>
</body>

<!-- size="10" -->
<!-- maxlength="30" -->
