<body>
  <!-- <div class="quote"> -->
  <div class="quoteBox">
    <h1>
      "{{ this.QuotesService.quotes }}" <br /><br />
      ~{{ this.QuotesService.author }}
    </h1>
    <!-- <p class="quoteBox">~ {{ this.QuotesService.author }}</p> -->
  </div>
  <!-- </div> -->

  <!-- <p>{{ readername }}</p> -->
 <!-- <img src="assets/Pocket-library-01.png"/> -->
  <!-- <img src="assets/Pocket-library.svg"> -->
  <img src="assets/Pocket-library.png" alt="">

  <div class="nameBox">
    <input
      type="text"
      [(ngModel)]="readername"
      placeholder="Username"
      title="type your name to enter the Pocket Library"
    />
  </div>

  <button 
  mat-raised-button
  color="primary"
  type="button"
  routerLink="/search"
  class="read"
  (click)="setreadername()"
>
  Let's Read!
</button>
</body>

<!-- size="10" -->
<!-- maxlength="30" -->
