<app-main-nav></app-main-nav>
<body>
  <main class="main">
    <h1>about Pocket Library</h1>
    <!-- do we want our pictures, bios and github links in here? -->

    <div class="about">
      <h2>A modern book application for the traditional reader.</h2>
      <p>
        Pocket Library was developed to help readers manager their personal
        libraries. From this app readers can search for books they wish to read
        and add them to a list they curate for themselves.Readers can also
        navigate to a webpage to preview books they are interested in.
      </p>
      <p>
        Dedicated readers usually have shelves of books in their homes unread.
        Now readers can add those books to their Pocket Library and track
        whether it has been read or if it's still on that wishlist.
      </p>
    </div>
  </main>
</body>
<footer>
  <p>application made possible by these providers:</p>
  <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
  <img
    src="https://angular.io/generated/images/marketing/concept-icons/material.png"
  />
  <p>Google Books Family</p>
  <p>Quotable</p>
  <img
    src="https://brand.heroku.com/static/media/built-on-heroku-light.21a0c1f7.svg"
  />
</footer>
