* {
  box-sizing: border-box;
}
body {
  background-image: url("src/assets/books_library_shelves_138556_800x1420.jpeg");
  background-repeat: repeat;
  font-family: "Homemade Apple", cursive;
  padding: 0;
}
main {
  background-image: url("src/assets/books_library_shelves_138556_800x1420.jpeg");
}
h1 {
  background: rgba(255, 255, 255, 0.808);
  font-family: "Homemade Apple", cursive;
  font-weight: 800;
  text-align: center;
  padding-top: 10px;
  height: 5vh;
}
h2 {
  text-align: center;
}
.about {
  background: rgba(255, 255, 255, 0.808);
  font-family: "Roboto";
  font-weight: 600;
  text-align: justify;
  padding: 15px;
  font-size: 1.15em;
}
footer {
  background: black;
  color: white;
  font-family: "Roboto";
  font-weight: 800;
  text-align: center;
  z-index: 0;
}
#angular {
  height: 100px;
}
#ang-mat {
  height: 85px;
}
.rec{
  font-family: 'Roboto';
  font-size: 1.5em;
  padding: 10px;
}
#section-header {
  background: rgba(255, 255, 255, 0.808);
  margin-top: 20px;
}
#app-name {
  font-family: "Homemade Apple", cursive;
  font-weight: 700;
}
.about-devs-section {
  margin-left: 3.5em;
  margin-right: 3.5em;
  margin-top: 3.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}
.devcard {
  max-width: 50vw;
}
.header-image {
  background-image: url("src/assets/web-development.png");
  background-size: cover;
}
