<h2>Create Your Library</h2>
<p>Add existing books from your collection</p>

<section class="container">
<mat-form-field  class=“example-form-field”>
  <mat-label>Book Title</mat-label>
  <input id="title" name="title" matInput type="text" required aria-required="false"
  [formControl]="bookTitle">
  <mat-error *ngIf="bookTitle.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>

<mat-form-field  class=“example-form-field”>
  <mat-label>Book Author</mat-label>
  <input [(ngModel)]="author" id="author" name="author" matInput type="text">
</mat-form-field>

<!-- <mat-form-field  class=“example-form-field”>
    <mat-label>Book Category</mat-label>
    <input [(ngModel)]="category" id="category" name="category" matInput type="text">
  </mat-form-field> -->

  <mat-form-field >
    <mat-label>Book Category</mat-label>
    <mat-select [(ngModel)]="category" id="category" name="category">
      <mat-option *ngFor="let cats of categories" [value]="cats.value">
        {{cats.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<!-- <mat-form-field  class=“example-form-field”>
    <mat-label>Book Status</mat-label>
    <input [(ngModel)]="status" id="status" name="status" matInput type="text">
  </mat-form-field> -->

  <mat-form-field >
    <mat-label>Book Status</mat-label>
    <mat-select [(ngModel)]="status" id="status" name="status">
      <mat-option *ngFor="let stats of bookStatus" [value]="stats.value">
        {{stats.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>

<button mat-raised-button (click)="addBook()" color="primary" type="submit">Submit</button>

