
<h2>Create Your Library</h2>
<p>Add existing books from your collection</p>
<p>Show me {{library.readername}}</p>
<section class="form-container">
<!-- <form> -->

<!-- <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
        <mat-label>{{readername}}</mat-label>
        <input matInput placeholder="">
</mat-form-field>

<mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
        <mat-label>Book Title</mat-label>
        <input matInput placeholder="Enter Book Title">
</mat-form-field>

<mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
    <mat-label>Author</mat-label>
    <input matInput placeholder="Enter Author">
</mat-form-field>

<mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
    <mat-label>Genre</mat-label>
    <input matInput placeholder="Enter Genre">
</mat-form-field> -->
  <label>
    Status
    <input [(ngModel)]="status" id="status" name="status"/>
  </label>
  <label>
    Title
    <input [(ngModel)]="title" id="title" name="title"/>
  </label>
  <label>
    Author
    <input [(ngModel)]="author" id="author" name="author"/>
  </label>
  <label>
    Category
    <input [(ngModel)]="category" id="category" name="category" />
  </label>

<button (click)="addBook()">Click Me</button>

<!-- </form> -->
</section>
