
.container{
  display:flex; 
  flex-direction: column;
  padding: 10px; 
}

mat-form-field{
 
}
  button{
    margin-left: 10px;
    width: 20%;  
  }

  h2, p{
    display: flex; 
    justify-content: center;
    margin-bottom: auto;
  }