<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">

<nav>
   <div class="logo"><h1>Pocket Library</h1></div>
   <div class="openMenu"><i class="fa fa-bars"></i></div>
<ul class="mainMenu">
    <li><a routerLink="/existing-library">My Library</a></li>
    <li><a routerLink="/search">Search</a></li>
    <div class="closeMenu"><i class="fa fa-times"></i></div>
    <span class="icons">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-github"></i>
    </span>
</ul>
</nav>

<button>User Logo</button>
