<app-main-nav></app-main-nav>
<!-- search input -->
<body class="background">
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
    crossorigin="anonymous"
  />

  <h2 class="searchBooks">browse the stacks . . .</h2>
  <div class="filter">
    <input
      type="search"
      [(ngModel)]="generalSearch"
      placeholder="Search for Books"
      class="search"
    />
    <!-- <input [(ngModel)]="author" placeholder="search by author" /> -->
    <!-- <input [(ngModel)]="subjectSearch" placeholder="search by subject" /> -->
    <!-- <div onload="getNewBooks()"></div> -->
    <button (click)="getBooksList()" class="getBooks">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <div id="details-container">
    <div *ngFor="let book of BooksService.books" class="results">
      <div class="img-container">
        <img id="bookCover" [src]="book.volumeInfo.imageLinks.thumbnail" />
      </div>
      <div class="dets">
        <p>Title: {{ book.volumeInfo.title }}</p>
        <p>Author: {{ book.volumeInfo.authors }}</p>
        <!-- if we want to make this optional wrap in an ngIf -->
        <p>Category: {{ book.volumeInfo.categories }}</p>
      </div>
      <button id="preview" (click)="goToLink(book.volumeInfo.previewLink)">
        <img class="prv-btn"
          src="https://www.google.com/intl/en/googlebooks/images/gbs_preview_button1.png"
        />
      </button>
      <button (click)="addFromSearch(book)" id="add">Add to Library</button>
    </div>
  </div>
</body>
