<app-main-nav></app-main-nav>
<!-- search input -->
<body class="background">
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
    crossorigin="anonymous"
  />

<h2 class="searchBooks">browse the stacks...</h2>
<div class="filter">
  <input
    [(ngModel)]="generalSearch"
    placeholder="Search for Books" class="search"
  />

  <h2 class="searchBooks">browse the stacks . . .</h2>
  <div class="filter">
    <input
      type="search"
      [(ngModel)]="generalSearch"
      placeholder="Search for Books"
      class="search"
    />
    <!-- <input [(ngModel)]="author" placeholder="search by author" /> -->
    <!-- <input [(ngModel)]="subjectSearch" placeholder="search by subject" /> -->
    <!-- <div onload="getNewBooks()"></div> -->
    <button (click)="getBooksList()" class="getBooks">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <!-- this could probably be a new component -->
  <div id="details">
    <div *ngFor="let book of BooksService.books" class="results">
      <img id="bookCover" [src]="book.volumeInfo.imageLinks.thumbnail" />
      <p>Title: {{ book.volumeInfo.title }}</p>
      <p>Author: {{ book.volumeInfo.authors }}</p>
      <button id="preview" (click)="goToLink(book.volumeInfo.previewLink)">
        Preview
      </button>
      <button (click)="addToLibrary()" id="add">Add to Library</button>
    </div>
  </div>
