#preview {
  text-decoration: underline;
  color: blue;
}
a:hover {
  text-decoration: none;
  background-color: yellow;
  font-size: larger;
}
.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 4vh;
}
.search {
  width: 70vw;
  margin-right: 5px;
}
.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

